body {
    background-color: #101419;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 33%;
    margin-right: 33%;
    padding: 0;
}

img {
  border-radius: 50%;
}

h1 {
    color: #FAFAFA;
    font-family: 'Helvetica';
    font-size: xx-large;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;

    margin-bottom: 2.5%;
}

p {
    color: #FAFAFA;
    font-family: 'Helvetica';
    font-size: medium;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;

    margin-bottom: 0%;
    margin-top: 0.1%;
}

a:link {
    color: #EE4266;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #EE4266;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #6F73D2;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #EE4266;
    background-color: transparent;
    text-decoration: underline;
  }